h1.titulo{
	font-size: 50px;
}
div.eleiçao{
	float: left;
}
p.porcentos{
	float: right;
	font-size: 50px;
}
div.progress{
	clear:both;

}
span.num{
	font-weight: bold;
}
img.identificacao{
	border-radius: 50%;
	margin: 0px;
	width: 50px;
	height: 50px;
}
span.turno{
	color:lightgreen;
	border-radius: 20px;
	border: solid 2px lightgreen;
	padding: 1px;
	margin: 0px;
}
div.esquerda{
	float: left;
}
span.votos h4.porcentagem{
	float: right;
	display: inline;
}
.foto{
	float: left;
	display: inline;
}

.direita{
	float: right;
	

}
.informacoes{
	width: 90%;
	margin-left: 10px;
}